.buttomExit{
    justify-content: flex-start;
    display: flex;
    margin-top: 10px;
}

.confirmBtn{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.mb-15{
    margin-bottom: 15px;
}

.mt-15{
    margin-top: 15px;
}